body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}


#content{

    margin-top:70px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.clear {

    clear:both;
}

table.records_list {
    width:100%;
}

table.records_list th{
    padding:5px;
}