body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}


#content{

    margin-top:70px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.clear {

    clear:both;
}

table.records_list {
    width:100%;
}

table.records_list th{
    padding:5px;
}

table.records_list tr th{
	background-color:#ccc;
	color:#333;
}

table.records_list td{
	padding:5px;
	border-right:#eee 1px solid;
}

table.records_list tr {
	background-color:#f7f7f7;
	color:#333;
	border-top:#ccc 1px solid;
	border-bottom:#eee 1px solid;
	
}

#search .form-control {
	width:130px;
}