body {
    font-size: 12px!important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
	color:#333!important;
}

#content{

    margin-top:70px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.clear {

    clear:both;
}

table.show-view tr {
	border-bottom:#eee 1px solid;
	border-top:#eee 1px solid;
}

table.show-view tr td {
	padding:10px;
}

table.records_list {
    width:100%;
}

table.records_list th{
    padding:5px;
}

table.records_list tr th{
	background-color:#eee;
	color:#333;
}

table.records_list td{
	padding:5px;

}

table.records_list tr {

	color:#333;
	border-bottom:#eee 1px solid;
	
}

#search .form-control {
	width:130px;
}

td.field-label{
	font-weight:bold;
	color:#333;
	background-color:#f7f7f7;
}