{% extends "DCCRMBundle::bootstrap.html.twig" %}
{% block htmlbody %}
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#">DC CRM</a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ knp_menu_render('DCCRMBundle:Builder:mainMenu', { 'style': 'navbar', 'template': 'DCCRMBundle:Menu:knp_menu.html.twig' }) }}
            {{ knp_menu_render('DCCRMBundle:Builder:userMenu', { 'style': 'navbar', 'template': 'DCCRMBundle:Menu:knp_menu.html.twig' }) }}
        </div>  
    </nav>
    
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="clear"></div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>

     <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <a class="navbar-brand" href="#"><i class='fa fa-globe'></i> DC CRM</a>
        
    </nav>
{% endblock %}